*{
    padding: 0px;
    margin: 0px;
}
html{
    scroll-behavior: smooth;
}
#header{
    width: 100%;
    height: 100vh;
    background-color: teal;
    background-image: url(./mountain\ left.com.png),url(./mountain\ right.com.png),
    url(./photo-1454942901704-3c44c11b2ad1.avif);
    background-repeat: no-repeat;
    background-size: 80%,60%,100% 400vh;
    background-position: left,right,0% 0%;
    transition: background-position 0.5s,background-size 0.5s;
    overflow: hidden;
}
#header:hover{
    background-position:-160%,160%,50%;
    background-size:80%,60%,100% 100vh;
}
#text{
    position: relative;
    left: 30%;
    top: 10%;
    font-size: 5vw;
    letter-spacing: 1vw;
    text-transform: capitalize;
    color: transparent;
    filter: drop-shadow(2px 2px 4px black);
    transform: scale(0) rotateX(360deg) rotateY(360deg);
    transition:transform 1s,color 1.5s ;
    transition-delay: 0.s;
}
#header:hover #text{
    color:yellow;
    transform: scale(1)  rotateX(0deg) rotateY(0deg);
}
#navbar{
    width: 100%;
    height:12vh;
    background-color: #ffb703;
    position: sticky;
    top: 0px;
    box-shadow: 2px 2px 5px black;
    z-index: 1;
    
}
#logo{
    width: 12%;
    filter: drop-shadow(2px 2px 2px black);
}
#mainlist{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    position: relative;
    bottom: 80%;
}
.list{
    font-size: 3vw;
    text-transform: capitalize;
    position:relative;
    
    color: #023047;
}
.list:hover{
    transform: scale(1.2);
}
.anchorli{
    text-decoration: none;
    color: #023047;   
}
.anchorli:hover{
    text-decoration: underline 2px white;
    color: white;
}
#home,#places,#info{
    width: 100%;
    height: 220vh;
}
#home{
    background-color: #023047;
}
#places{
    background-color: #219ebc;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    border-top: 4px solid rgb(204, 194, 194);
    
}
#info{
    background-color:#DF678C ;
}
#imagecont{
    width: 100%;
    height: 60vh;
    position: relative;
    top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.imagesinhome{
    width: 17vw;
    height: 36vh;
    transform: rotateY(25deg) skewY(-20deg);
    margin-left: -90px;
    position: relative;
    top: 120px;
    right: 25px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
    transition: transform 0.5s ; 
}
.imagesinhome:hover{
    transform: rotateY(0deg) skewY(0deg) translateY(-200px);
}
#guide{
    width: 29vw;
    height: 29vh;
    position: relative;
    right: 100px;
    top: 80px;
}
#guideheading{
    text-align: center;
    font-size: 3vw;
    color: green;
    text-shadow: 3px 3px 4px black;
    letter-spacing: 0.6vw;
}
#guidepara{
    font-size: 2vw;
    /* letter-spacing: 5px; */
    /* word-spacing: 10px; */
    text-align: justify;
    letter-spacing: 0.4vw;
    width: 25vw;
    text-indent: 6.5vw;
    margin-top: 2.5vw;
    color: white;
}
#homepageinfo{
    width: 100%;
    height: 100vh;
    position: relative;
    top: 16.5vw;
    border-top: 0.3vw solid rgb(204, 194, 194);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#travelheading{
    width: 100%;
    height: 11vh;
    margin-top: 1.25vw;
    background-color: beige;
}
#travelways{
    text-align: center;
    margin-top: 0.83vw;
}
.travelcontainer{
    width: 16.6vw;
    height: 27vh;
    
   
}
.containerImage{
    width: 16vw;
    height: 33vh;
    position: relative;
    top: 0.83vw;
    left: 2.25vw;
    border-radius: 4%;
    box-shadow: 3px 3px 5px black;
    border: 2px groove rgb(193, 68, 68);    
}
#containerImage2{
    width: 200px;
    height: 200px;
    margin-left: 8vw;
    margin-top:1vw ;
    border-radius: 4%;
    box-shadow: 3px 3px 5px black;
    border: 2px groove rgb(193, 68, 68);   
}
#containerImage2:hover{
    filter: blur(3px);
}
#travelText1{
    position: absolute;
    top: 16vw;
    left: 3vw;
    color: white;
    font-size: 3vw;
}
.containerImage:hover{
    filter: blur(3px);
}
#travelText2{
    color: white;
    position: relative;
    top: 6vw;
    right: 11vw;
    font-size: 3vw;
}
.anchortravelText{
    text-decoration: none;
    color: white;
}
.placeCont{
    width: 23vw;
    height: 48vh;   
    background-size: 100% 48vh;
    margin-bottom: 8vw;
    border-radius: 10%;
    box-shadow: 4px 4px 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: transform 0.5s;
    filter: brightness(70%);
    cursor: pointer;

}
.placeCont:hover .placeName{
    transform: scale(1.2);
}
.placeCont:hover{
    transform: scale(1.2);
}

.placeName{
    font-size: 3vw;
    filter: brightness(100%);
    transition: transform 0.5s;
}
.placeName:hover{
    transform: scale(1.2);
}
#tajmahel{
    background-image: url(./tajmahel.avif);
}
#hampi{
    background-image: url(./Hampi-696x399.jpg);
}
#goldentemple{
    background-image: url(./golden\ temple.jpg);
}
#charminar{
    background-image: url(./charminar-hyderabad-featured-image\ \(1\).jpg);
}
#golgumbaj{
    background-image: url(./golgumbaz.jpg);
}
#mumbai{
    background-image: url(./Gateway-of-India-Mumai-monument-2012.webp);
}
#kerala{
    background-image: url(./Historical-Temples-in-Kerala-@stylesatlife.jpg);
}
#tirupati{
    background-image: url(./Tirupati\ temple.jpg);
}
#TravelInfoCont{
    width: 41vw;
    height: 75vh;
    background-color: rgb(116, 210, 241);
    margin-left: 41vw;
    position: relative;
    top: 13vw;
    border-radius: 2%;
}
#contactus{
    position: relative;
    left: 12vw;
    top: 6vw;
    font-size: 3vw;
}
.Details{
    position: relative;
    top: 8vw;
    left: 8vw;
    width: 27vw;
    height: 5vh;
    border-style: none;
    outline-style: none;
    font-size: 2vw;
    border-radius: 2%;
}
#Descript{
    height: 17vh;
    
}
#Button{
    width: 8vw;
    height: 5vh;
    margin-left: 8vw;
    border-radius: 0px;
    background-color: transparent;
    border: solid 2px white;
    color: rgb(52, 52, 168);
}
#Button:hover{
    background-color: white;
}
.DetailSection{
    width: 17vw;
    height: 40vh;
    background-color: white;
    position: relative;
    left: 8vw;
    bottom: 25vw;
    float: left;
    transition: transform 0.5s;
}
.DetailSection:hover{
    transform: scale(1.2);
}

#DivCont{
    position: relative;
    left: 13vw;
}
#DivCont1{
    position: relative;
    top: -20px;
    left: -26vw;
    
}
#DivCont2{
    position: relative;
    top: -20px;
    left: -20vw;
}
.locationLogo{
    width: 100px;
    height: 100px;
    position: relative;
    left: 40px;
    top: 2px;
}
.OfficeAdd{
    font-size: 18px;
    text-align: center;
}
.officeAdd1{
    font-size: 20px;
    position: relative;
    top: 20px;
    text-align: center;
}
#fax{
    font-size: 30px;
    padding-right: 30px;
}
#email{
    font-size: 20px;
    padding-right: 20px;
}
#emailId{
    font-size: 18px;
}
#emailadress{
    text-decoration: none;
    border-bottom: 1px solid black;
}
